:root {
  font-family: Roboto, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #000;
  background-color: #ffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3em;
  
  line-height: 1.1;
}

button {
  border-radius: 6px;
  border: #f6526d ;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: linear-gradient(91.3deg, #FF1260 8.03%, #FF6B57 104.35%);;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}



body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #fcfcfc;
}

/* Footer */
.footer-container {
  background-color: black;
  color: white;
  margin-top: 150px;
}

.footer-wrapper {
  padding-top: 50px;
  padding-left: 40px;
  display: flex;
  gap: 100px;
  justify-content: start;
}

.footer-heading {
  font-weight: 900;
}

.footer-three {
  display: flex;
  align-items: center;
}


